/*
* @Author: miguel
* @Date:   2016-07-01 23:45:42
* @Last Modified by:   Miguel Rodriguez
* @Last Modified time: 2016-07-31 03:27:33
*/
@import 'https://fonts.googleapis.com/css?family=Ubuntu';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body {
  background: #FFFFFA;
}
header {
  width: 100%;
}
header nav {
  width: 100%;
  max-width: 1600px;
  margin: 20px auto;
  background: #AF3411;
}
.menu-bar {
  display: none;
}
header nav ul {
  overflow: hidden;
  list-style: none;
}
header nav ul li {
  float: left;
}
header nav ul li a{
  color: #fff;
  padding: 20px;
  display: block;
  text-decoration: none;
}
header nav ul li a:hover {
  background: #EDA01C;
}
header nav ul li span {
  margin-right: 10px;
}
section {
  padding: 20px;
  max-width: 1600px;
  margin: 0 auto;
}
section p {
  margin-bottom: 20px;
}
 /* *** the media queries *** */
 @media screen and (max-width: 768px) {
  header nav {
    width: 70%;
    height: 100%;
    margin: 0;
    position: fixed;
  }
  header nav ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
  .menu-bar {
    display: block;
    width: 100%;
    background: #CCC;
  }
  .menu-bar .btn-menu {
    display: block;
    padding: 20px;
    background: #AF3411;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
  }
  .menu-bar span {
    float: right;
    font-size: 40px;    
  }
}