/*
* @Author: miguel
* @Date:   2016-07-01 23:45:42
* @Last Modified by:   Miguel Rodriguez
* @Last Modified time: 2016-08-04 01:23:28
*/
@import 'https://fonts.googleapis.com/css?family=Ubuntu';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
 
/*GENERIC STYLES*/
body { 
  background: #f2f2f2;
  color: #F2EDE3;
  font-family: 'Ubuntu', sans-serif;
}
header {
  width: 100%;
}
nav {
  background: #D32B34;
  width: 80%;
  box-shadow: 2px 3px 5px #333;
  min-width: 269px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
nav ul li:not(:last-child) {
  border-bottom: 1px solid #F2EDE3;
  /*position: relative;*/
}
nav li a {
  text-decoration: none;
  color: #F2EDE3;
  display: block;
  font-size: 24px;
  letter-spacing: 2px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.sub-comment {
  font-size: 11px;
  letter-spacing: -.5px;
  margin-left: 35px;
}
span[class|="mrc"] {
  color: #F2EDE3;
  text-shadow: 1px 2px 2px #444;
}
