/*
* @Author: miguel
* @Date:   2016-07-01 23:45:42
* @Last Modified by:   Miguel Rodriguez
* @Last Modified time: 2016-08-03 02:08:18
*/
@import 'https://fonts.googleapis.com/css?family=Ubuntu';

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
 
/*GENERIC STYLES*/
body { 
  background: #f2f2f2;
  color: #222;
  font-family: 'Ubuntu', sans-serif;
}
header {
  width: 100%;
}
nav {
  background: #DBCF0C;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  border-right: 1px solid red;
  flex-grow: 1;
  position: relative;
}
nav li a {
  text-decoration: none;
  color: #333;
  display: block;
  text-align: right;
  font-size: 24px;
  letter-spacing: 2px;
  padding: 10px 40px 10px 0;
}
.sub-comment {
  font-size: 11px;
  display: block;
  letter-spacing: -.5px;
  line-height: 2px;
  margin-top: 1px;
  /*float: right;*/
}
span[class|="mrc"] {
  color: red;
  text-shadow: 1px 2px 2px #333;
  margin: 0 -30px;
  position: absolute;
}
